#contentArea{
    background-color:rgb(88, 99, 110);
    width: 100%;
    height: 5000px;
    position: relative;
}
.carousel .zoom{
    height: 1567px;
    width: 2344px;
    -webkit-animation: zoom 10s forwards;
    animation: zoom 10s forwards;
}
@-webkit-keyframes zoom{
    0%{
        height: 1436px;
        width: 2149px;
   }
    100%{
        height: 1302px;
        width: 1950px;
   }
}
@keyframes zoom{
    0%{
        height: 1436px;
        width: 2149px;
   }
    100%{
        height: 1302px;
        width: 1950px;
   }
}
.carousel-inner{
    width:1588px;
    max-height: 975px !important;
}
.carousel-inner img{
    opacity: .7;
}
.carousel-caption{
    position: absolute;
    top:550px;
    text-align: left;
}
.carousel-caption h5{
    font-size: 80px;
    font-weight: bold;
    color:rgb(240, 240, 240);
    text-shadow: 4px 2px 11px rgba(20, 20, 20, 0.5);
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}
.carousel-caption p{
    font-size: 70px;
    font-weight: bold;
    color:rgb(240, 240, 240);
    text-shadow: 4px 2px 11px rgba(49, 49, 49, 0.5);
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}
/* ================================================ */
.menuGrid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 53px auto;
    grid-template-columns: 53px auto;
}
.menuNav{
    background-color: white;
    height: 1255px;
}
.menuNav{
    padding-top: 40px;
}
.menuNavSpace{
    position: relative;
}
.menuNav ul{
    position:-webkit-sticky;
    position:sticky;
    top: 35%;
}
.menuNav ul li{
    list-style: none;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: top 0;
    -ms-transform-origin: top 0;
    transform-origin: top 0;
    margin-top: 60px;
}
.menuNav ul li button{
    border:none;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 200;
    color: rgb(44, 44, 44);
    text-decoration: none;
    display:inline-block;
    -webkit-writing-mode: sideways-lr;
    -ms-writing-mode: sideways-lr;
    writing-mode: sideways-lr;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
    -webkit-transition: border-bottom .3s;
    -o-transition: border-bottom .3s;
    transition: border-bottom .3s;
}
.menuNav ul li button:hover{
    border-bottom: 3px solid rgb(200,163,116);
    opacity: 1;
}
.menuContent{
    background-color:rgb(241, 235, 218);
}
button:focus {
   outline:0;
}
/* Appetizers */
.appetizerGrid{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5rem;
    grid-column-gap: 2rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
.menuAppetizers div p i, .menuEntrees div p i, .menuDesserts div p i{
    font-size: .9rem !important;
}
/* ================================================================== */
.aboutUsGrid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1045px auto;
    grid-template-columns: 1045px auto;
    background-color: white;
    height:975px;
}
.galleryGrid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1045px;
    grid-template-columns: auto 1045px;
    background-color: white;
    height:975px;
    padding-left:50px;
}
.aboutcarousel, .gallerycarousel{
    width:780px;
    margin-left: 200px;
    margin-top: 170px;
}
.about-carousel-inner, .gallery-carousel-inner{
    width:780px ;
}
.aboutcarouselinner img, .gallerycarouselinner img{
    max-width: 780px;
}
.aboutimg, .galleryimg{
    width: 780px !important;
    max-height: 519px !important;
    opacity: 1 !important;
}
.aboutUsText, .galleryText{
    margin-top: 290px;
}
.aboutUsText p, .galleryText p{
    font-size: 1.2rem;
    font-weight: 100;
}
.aboutUsText p:nth-of-type(1), .galleryText p:nth-of-type(1){
    text-indent: 50px;
}
/* ================================= */
.contactArea{
    background-color: rgb(248, 245, 234);
    height: 975px;
}
.contactGrid{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 436px auto;
    grid-template-columns: 436px auto;
    margin-left: 140px;
    padding-top: 150px;
}
.contactInfo h4{
    font-size: 1.3rem;
    font-weight: 400;
}
.contactLocation p{
    margin-top:10px;
    font-weight: 100;
    font-size: 1.2rem;
}
.contactLocation p:last-of-type{
    padding-bottom: 40px;
}
.openingHours p{
    font-weight: 100;
    font-size: 1.2rem;
    line-height: .7rem;
}
.openingHours p:last-of-type{
    padding-bottom: 40px;
}
.openingHours h4{
    padding:40px 0 20px 0;
}
hr.style-eight {
    overflow: visible;
   /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    background:rgb(248, 245, 234);
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
}
.reservations h4{
    padding: 40px 0 20px 0;
}
.reservations a{
    text-decoration: underline;
    color: black;
}
.reservations p{
    font-size: 1.1rem;
}
.contactMap img{
    margin: 90px 0 0 300px;
    height: 500px;
}
/* =============================== */
.footerGrid{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(212, 207, 188);
    height: 95px;
    text-align: center;
    font-weight: 100;
    grid-gap: 4em;
}
.footerGrid div{
    text-align: center;
    padding-top: 35px;
    height: 20px;
}
.footerGrid p{
    margin-bottom: 0;
}
.footerGrid a{
    color:rgb(179, 144, 99);
}
/* ============================= */
.displayNone{
    display:none 
}
.fadeIn{
    -webkit-animation: fadeIn .5s ease-in-out forwards;
    animation: fadeIn .5s ease-in-out forwards 
}
@-webkit-keyframes fadeIn{
    0%{
        opacity: 0;
   }
    100%{
        opacity: 1;
   }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
   }
    100%{
        opacity: 1;
   }
}
